.terraform/
*.tfstate
*.tfstate.*
*.tfplan

modules/credential/*
!modules/credential/.gitkeep

# Local environment settings
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Environment SSH public keys
/env/*/authorized_keys
